# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space # useTabs in prettier
indent_size = 2 # tabWidth in prettier
end_of_line = lf # endOfLine in prettier
charset = utf-8 # not configurable in prettier
trim_trailing_whitespace = false # not configurable in prettier
insert_final_newline = true # always true in prettier

[{/publication/**,/node_modules/**,index.html,validation/tm-json-schema-validation.json,context/td-context-1.1.jsonld,visualization/*.png,visualization/*.svg}]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
