#td-context-ns-dataschema-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-dataschema-mandatory {
  background-color: yellow;
}
#td-context-ns-dataschema-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-dataschema-optional {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-multilanguage-content-negotiation {
  background-color: yellow;
}
#td-context-ns-securityscheme-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-securityscheme-mandatory {
  background-color: yellow;
}
#td-context-ns-securityscheme-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-securityscheme-optional {
  background-color: yellow;
}
#rdf-transformation {
  background-color: yellow;
}
#td-action-names {
  background-color: yellow;
}
#td-action-names_descriptions {
  background-color: yellow;
}
#td-action-names_titles {
  background-color: yellow;
}
#td-arrays {
  background-color: yellow;
}
#td-arrays_scopes {
  background-color: yellow;
}
#td-context-ns-thing {
  background-color: yellow;
}
#td-context-ns-dataschema {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-securityscheme {
  background-color: yellow;
}
#td-context-ns-securityscheme-prefix {
  background-color: yellow;
}
#td-context-ns-thing-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-thing-prefix {
  background-color: yellow;
}
#td-data-schema-objects {
  background-color: yellow;
}
#td-data-schema-objects_items {
  background-color: yellow;
}
#td-data-schema-objects_properties {
  background-color: yellow;
}
#td-default-alg {
  background-color: yellow;
}

#td-default-context-of-dataschema {
  background-color: yellow;
}
#td-default-context-of-securityscheme {
  background-color: yellow;
}
#td-default-flow {
  background-color: yellow;
}

#td-default-qop {
  background-color: yellow;
}
#td-event-names {
  background-color: yellow;
}
#td-event-names_descriptions {
  background-color: yellow;
}
#td-event-names_titles {
  background-color: yellow;
}
#td-event-names_uriVariables {
  background-color: yellow;
}
#td-op-for-property-readonly {
  background-color: yellow;
}
#td-op-for-property-writeonly {
  background-color: yellow;
}
#td-property-names {
  background-color: yellow;
}
#td-property-names_const {
  background-color: yellow;
}
#td-property-names_scopes {
  background-color: yellow;
}
#td-property-names_security {
  background-color: yellow;
}
#td-property-names_uriVariables {
  background-color: yellow;
}
#td-security-schemes {
  background-color: yellow;
}
#td-serializiation-default-values {
  background-color: yellow;
}
#td-vocab-alg--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-anchor--Link {
  background-color: yellow;
}
#td-vocab-at-context--DataSchema {
  background-color: yellow;
}
#td-vocab-at-context--SecurityScheme {
  background-color: yellow;
}
#td-vocab-at-type--SecurityScheme {
  background-color: yellow;
}
#td-vocab-authorization--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-authorization--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-description {
  background-color: yellow;
}
#td-vocab-description--SecurityScheme {
  background-color: yellow;
}
#td-vocab-descriptions--SecurityScheme {
  background-color: yellow;
}
#td-vocab-flow--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-format--DataSchema {
  background-color: yellow;
}
#td-vocab-format--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--CertSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--PSKSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--PublicSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--APIKeySecurityScheme {
  background-color: yellow;
}
#td-vocab-in--BearerSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--APIKeySecurityScheme {
  background-color: yellow;
}
#td-vocab-name--CertSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--PSKSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--BasicSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--BearerSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-names--Thing {
  background-color: yellow;
}
#td-vocab-op--Form {
 /* background-color: yellow;*/
}
#td-vocab-proxy--SecurityScheme {
  background-color: yellow;
}
#td-vocab-qop--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-refresh--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-scopes--Form {
  background-color: yellow;
}
#td-vocab-scopes--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_apikey {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_cert {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_oauth2 {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_pop {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_psk {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_public {
  background-color: yellow;
}

#td-vocab-token--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocabulary-default-values {
  background-color: yellow;
}
