#privacy-immutable-id-as-property {
  background-color: yellow;
}
#privacy-temp-id-metadata {
  background-color: yellow;
}
#sec-body-name-json-pointer {
  background-color: yellow;
}
#sec-body-name-json-pointer-array {
  background-color: yellow;
}
#sec-body-name-json-pointer-creatable {
  background-color: yellow;
}
#sec-body-name-json-pointer-type {
  background-color: yellow;
}
#security-context-secure-fetch {
  background-color: yellow;
}
#security-jsonld-expansion {
  background-color: yellow;
}
#security-mutual-auth-td {
  background-color: yellow;
}
#security-oauth-limits {
  background-color: yellow;
}
#security-remote-context {
  background-color: yellow;
}
#security-server-auth-td {
  background-color: yellow;
}
#security-static-context {
  background-color: yellow;
}
#td-ns-multilanguage-content-negotiation {
  background-color: yellow;
}
#td-ns-multilanguage-content-negotiation-no-multi {
  background-color: yellow;
}
#td-processor-bidi-isolation {
  background-color: yellow;
}
#td-producer-mixed-direction {
  background-color: yellow;
}
#td-property-names {
  background-color: yellow;
}
#td-property-names_const {
  background-color: yellow;
}
#td-security-extension {
  background-color: yellow;
}
#td-security-in-query-over-uri {
  background-color: yellow;
}
#td-security-in-uri-variable {
  background-color: yellow;
}
#td-security-oauth2-client-flow {
  background-color: yellow;
}
#td-security-oauth2-client-flow-no-auth {
  background-color: yellow;
}
#td-security-oauth2-device-flow {
  background-color: yellow;
}
#td-security-uri-variables-distinct {
  background-color: yellow;
}
#td-text-at-direction {
  background-color: yellow;
}
#td-text-direction-first-strong {
  background-color: yellow;
}
#td-text-direction-language-tag {
  background-color: yellow;
}
#td-vocab-name--BasicSecurityScheme {
  background-color: yellow;
}
#td-vocab-op--Form {
  background-color: yellow;
}
#td-vocab-op--Form_cancelaction {
  background-color: yellow;
}
#td-vocab-op--Form_queryaction {
  background-color: yellow;
}
#td-vocab-op--Form_queryallactions {
  background-color: yellow;
}
#td-vocab-op--Form_unobserveproperty {
  background-color: yellow;
}
#tm-derivation-validity {
  background-color: yellow;
}
#tm-tmOptional {
  background-color: yellow;
}
#tm-tmOptional-JSONPointer {
  background-color: yellow;
}
#tm-tmOptional-array {
  background-color: yellow;
}
#tm-tmOptional-resolver {
  background-color: yellow;
}
#tm-versioning-1 {
  background-color: yellow;
}
#tm-versioning-2 {
  background-color: yellow;
}
