#td-default-in-pop {
  background-color: yellow;
}
#td-default-in-apikey {
  background-color: yellow;
}
#td-default-alg-pop {
  background-color: yellow;
}
#td-default-format-pop {
  background-color: yellow;
}
#td-default-qop {
  background-color: yellow;
}
#td-default-flow {
  background-color: yellow;
}
#td-vocab-proxy--SecurityScheme {
  background-color: yellow;
}
#td-vocab-qop--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-scopes--Form {
  background-color: yellow;
}
