#server-data-schema-extras {
  background-color: yellow;
}
#server-uri-template {
  background-color: yellow;
}
#td-context-ns-dataschema-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-dataschema-mandatory {
  background-color: yellow;
}
#td-context-ns-dataschema-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-dataschema-optional {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-multilanguage-content-negotiation {
  background-color: yellow;
}
#td-context-ns-securityscheme-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-securityscheme-mandatory {
  background-color: yellow;
}
#td-context-ns-securityscheme-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-securityscheme-optional {
  background-color: yellow;
}
#td-context-ns-thing-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-thing-mandatory {
  background-color: yellow;
}
#td-context-ns-thing-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-thing-optional {
  background-color: yellow;
}
#rdf-transformation {
  background-color: yellow;
}
#td-action-names {
  background-color: yellow;
}
#td-action-names_descriptions {
  background-color: yellow;
}
#td-action-names_titles {
  background-color: yellow;
}
#td-arrays {
  background-color: yellow;
}
#td-arrays_scopes {
  background-color: yellow;
}
#td-context-ns-thing {
  background-color: yellow;
}
#td-context-ns-thing-prefix {
  background-color: yellow;
}
#td-context-ns-dataschema {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-securityscheme {
  background-color: yellow;
}
#td-context-ns-securityscheme-prefix {
  background-color: yellow;
}
#td-data-schema {
  background-color: yellow;
}
#td-data-schema-arrays {
  background-color: yellow;
}
#td-data-schema-objects {
  background-color: yellow;
}
#td-data-schema-arrays_oneOf {
  background-color: yellow;
}
#td-data-schema_maxItems {
  background-color: yellow;
}
#td-data-schema_minItems {
  background-color: yellow;
}
#td-data-schema_oneOf {
  background-color: yellow;
}
#td-default-alg {
  background-color: yellow;
}
#td-default-context-of-thing {
  background-color: yellow;
}
#td-default-context-of-dataschema {
  background-color: yellow;
}
#td-default-context-of-securityscheme {
  background-color: yellow;
}
#td-default-flow {
  background-color: yellow;
}
#td-default-format {
  background-color: yellow;
}
#td-default-idempotent {
  background-color: yellow;
}
#td-default-in-1 {
  background-color: yellow;
}
#td-default-in-2 {
  background-color: yellow;
}
#td-default-observable {
  background-color: yellow;
}
#td-default-qop {
  background-color: yellow;
}
#td-default-safe {
  background-color: yellow;
}
#td-event-names {
  background-color: yellow;
}
#td-event-names_descriptions {
  background-color: yellow;
}
#td-event-names_titles {
  background-color: yellow;
}
#td-event-names_uriVariables {
  background-color: yellow;
}
#td-form-protocolbindings {
  background-color: yellow;
}
#td-forms {
  background-color: yellow;
}
#td-media-type {
  background-color: yellow;
}
#td-property-names {
  background-color: yellow;
}
#td-property-names_const {
  background-color: yellow;
}
#td-property-names_items {
  background-color: yellow;
}
#td-property-names_maxItems {
  background-color: yellow;
}
#td-property-names_minItems {
  background-color: yellow;
}
#td-property-names_oneOf {
  background-color: yellow;
}
#td-property-names_scopes {
  background-color: yellow;
}
#td-property-names_security {
  background-color: yellow;
}
#td-property-names_uriVariables {
  background-color: yellow;
}
#td-idempotent-safe-default {
  background-color: yellow;
}
#td-readOnly-observable-writeOnly-default {
  background-color: yellow;
}
#td-security-schemes {
  background-color: yellow;
}
#td-serializiation-default-values {
  background-color: yellow;
}
#td-vocab-anchor {
  background-color: yellow;
}
#td-vocab-contentType {
  background-color: yellow;
}
#td-vocab-description {
  background-color: yellow;
}
#td-vocab-description_security {
  background-color: yellow;
}
#td-vocab-flow {
  background-color: yellow;
}
#td-vocab-identity {
  background-color: yellow;
}
#td-vocab-maxItems {
  background-color: yellow;
}
#td-vocab-minItems {
  background-color: yellow;
}
#td-vocab-names {
  background-color: yellow;
}
#td-vocab-oneOf {
  background-color: yellow;
}
#td-vocab-proxy {
  background-color: yellow;
}
#td-vocab-qop {
  background-color: yellow;
}
#td-vocab-refresh {
  background-color: yellow;
}
#td-vocab-scopes {
  background-color: yellow;
}
#td-vocab-security-2 {
  background-color: yellow;
}
#td-vocab-name {
  background-color: yellow;
}
#td-vocab-name-2 {
  background-color: yellow;
}
#td-vocab-token {
  background-color: yellow;
}
#td-vocab-format {
  background-color: yellow;
}
#td-vocab-format-1 {
  background-color: yellow;
}
#td-vocab-format-2 {
  background-color: yellow;
}
