#server-data-schema-extras {
  background-color: yellow;
}
#td-context-ns-dataschema-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-dataschema-mandatory {
  background-color: yellow;
}
#td-context-ns-dataschema-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-dataschema-optional {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-multilanguage-content-negotiation {
  background-color: yellow;
}
#td-context-ns-securityscheme-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-securityscheme-mandatory {
  background-color: yellow;
}
#td-context-ns-securityscheme-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-securityscheme-optional {
  background-color: yellow;
}
#td-context-ns-thing-dereferenceable-url {
  background-color: yellow;
}
#td-context-ns-thing-mandatory {
  background-color: yellow;
}
#td-context-ns-thing-map-of-namespaces {
  background-color: yellow;
}
#td-context-ns-thing-optional {
  background-color: yellow;
}
#rdf-transformation {
  background-color: yellow;
}
#td-action-names {
  background-color: yellow;
}
#td-action-names_descriptions {
  background-color: yellow;
}
#td-action-names_titles {
  background-color: yellow;
}
#td-arrays {
  background-color: yellow;
}
#td-arrays_scopes {
  background-color: yellow;
}
#td-context-ns-thing {
  background-color: yellow;
}
#td-context-ns-thing-prefix {
  background-color: yellow;
}
#td-context-ns-dataschema {
  background-color: yellow;
}
#td-context-ns-dataschema-prefix {
  background-color: yellow;
}
#td-context-ns-securityscheme {
  background-color: yellow;
}
#td-context-ns-securityscheme-prefix {
  background-color: yellow;
}
#td-data-schema {
  background-color: yellow;
}
#td-data-schema-objects {
  background-color: yellow;
}
#td-data-schema_title {
  background-color: yellow;
}
#td-data-schema_titles {
  background-color: yellow;
}
#td-default-context-of-thing {
  background-color: yellow;
}
#td-default-context-of-dataschema {
  background-color: yellow;
}
#td-default-context-of-securityscheme {
  background-color: yellow;
}
#td-default-flow {
  background-color: yellow;
}
#td-default-in-2 {
  background-color: yellow;
}
#td-default-qop {
  background-color: yellow;
}
#td-event-names {
  background-color: yellow;
}
#td-event-names_descriptions {
  background-color: yellow;
}
#td-event-names_titles {
  background-color: yellow;
}
#td-event-names_uriVariables {
  background-color: yellow;
}
#td-form-protocolbindings {
  background-color: yellow;
}
#td-form-response-object {
  background-color: yellow;
}
#td-forms {
  background-color: yellow;
}
#td-media-type {
  background-color: yellow;
}
#td-property-names {
  background-color: yellow;
}
#td-property-names_const {
  background-color: yellow;
}
#td-property-names_maxItems {
  background-color: yellow;
}
#td-property-names_minItems {
  background-color: yellow;
}
#td-property-names_scopes {
  background-color: yellow;
}
#td-property-names_security {
  background-color: yellow;
}
#td-property-names_uriVariables {
  background-color: yellow;
}
#td-idempotent-safe-default {
  background-color: yellow;
}
#td-readOnly-observable-writeOnly-default {
  background-color: yellow;
}
#td-security-schemes {
  background-color: yellow;
}
#td-serializiation-default-values {
  background-color: yellow;
}
#td-vocab-actions--Thing {
  background-color: yellow;
}
#td-vocab-alg--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-anchor--Link {
  background-color: yellow;
}
#td-vocab-at-context--DataSchema {
  background-color: yellow;
}
#td-vocab-at-context--SecurityScheme {
  background-color: yellow;
}
#td-vocab-at-context--Thing {
  background-color: yellow;
}
#td-vocab-at-type--DataSchema {
  background-color: yellow;
}
#td-vocab-at-type--InteractionAffordance {
  background-color: yellow;
}
#td-vocab-at-type--SecurityScheme {
  background-color: yellow;
}
#td-vocab-at-type--Thing {
  background-color: yellow;
}
#td-vocab-authorization--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-authorization--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-contentType--ExpectedResponse {
  background-color: yellow;
}
#td-vocab-description {
  background-color: yellow;
}
#td-vocab-description--SecurityScheme {
  background-color: yellow;
}
#td-vocab-descriptions--DataSchema {
  background-color: yellow;
}
#td-vocab-events--Thing {
  background-color: yellow;
}
#td-vocab-flow--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-format--DataSchema {
  background-color: yellow;
}
#td-vocab-format--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-href--Form {
  background-color: yellow;
}
#td-vocab-href--Link {
  background-color: yellow;
}
#td-vocab-id--Thing {
  background-color: yellow;
}
#td-vocab-identity--CertSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--PSKSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--PublicSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--APIKeySecurityScheme {
  background-color: yellow;
}
#td-vocab-in--BearerSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-instance--VersionInfo {
  background-color: yellow;
}
#td-vocab-links--Thing {
  background-color: yellow;
}
#td-vocab-name--Thing {
  background-color: yellow;
}
#td-vocab-name--APIKeySecurityScheme {
  background-color: yellow;
}
#td-vocab-name--CertSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--PSKSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--BasicSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--BearerSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-names--Thing {
  background-color: yellow;
}
#td-vocab-properties--Thing {
  background-color: yellow;
}
#td-vocab-proxy--SecurityScheme {
  background-color: yellow;
}
#td-vocab-qop--DigestSecurityScheme {
  background-color: yellow;
}
#td-vocab-refresh--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-scopes--Form {
  background-color: yellow;
}
#td-vocab-scopes--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme {
  background-color: yellow;
}
#td-vocab-securityDefinitions--Thing {
  background-color: yellow;
}
#td-vocab-title--DataSchema {
  background-color: yellow;
}
#td-vocab-titles--DataSchema {
  background-color: yellow;
}
#td-vocab-token--OAuth2SecurityScheme {
  background-color: yellow;
}
#td-vocab-version--Thing {
  background-color: yellow;
}
#td-vocabulary-default-values {
  background-color: yellow;
}
