#td-default-in-pop {
  background-color: yellow;
}
#td-default-alg-pop {
  background-color: yellow;
}
#td-default-format-pop {
  background-color: yellow;
}
#separator {
  background-color: yellow;
}
#td-security-oauth2-implicit-flow {
  background-color: yellow;
}
#td-security-oauth2-password-client-flow {
  background-color: yellow;
}
#td-security-pop-format-extensions {
  background-color: yellow;
}
#td-vocab-alg--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-format--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--CertSecurityScheme {
  background-color: yellow;
}
#td-vocab-identity--PublicSecurityScheme {
  background-color: yellow;
}
#td-vocab-in--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-name--PoPSecurityScheme {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_cert {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_pop {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_public {
  background-color: yellow;
}
#td-vocab-scheme--SecurityScheme_combo {
  background-color: yellow;
}
#td-writeall-consumer {
  background-color: yellow;
}
