<h3 id="test_interop_h">
  <a id="test_interop" name="test_interop">8.2 Interoperability results</a>
</h3>
<p>
  This section documents specific pairs of implementations for which interoperability has been demonstrated. Each row
  represents a producer and each column a consumer. If a pairing has at least one recorded instance of interoperation,
  and no recorded failures, then it is marked as a "Pass". If a pairing also has at least one recorded instance that
  uses a security configuration identified in
  <a href="https://www.w3.org/TR/wot-security/">WoT Security Best Practices</a>
  then it is marked as "Secure". However, if such a pairing has
  <em>any</em> reported failures, no matter how many other successful pairings it has, including secure pairings, it is
  marked as a "Fail". Note that since implementations refer to code bases that may be used for many services or devices,
  each successful pairing reported may in practice correspond to a number of successful service or device pairings.
</p>

<table id="testinterop" class="testlist" summary="implementation interop" cellspacing="2" cellpadding="2" width="100%">
  <thead>
    <tr id="testinterop-consumers">
      <th>Producers &#92; Consumers</th>
      <!--
                    <th class="rotate" id="consumer-impl-ORG-MODULE1">
                        <div><span>Consumer 1</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE2">
                        <div><span>Consumer 2</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE3">
                        <div><span>Consumer 3</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE4">
                        <div><span>Consumer 4</span></div></th>
-->
    </tr>
  </thead>
  <tbody>
    <!--
                <tr>
                    <th id="producer-impl-ORG-MODULE1">Producer 1</th> 
                    <td class="passed">Pass</td> 
                    <td class="secure">Secure</td> 
                    <td class="failed">Fail</td>
                    <td class="notimpl">Not Impl</td>
				</tr>
                <tr>
                    <th id="producer-impl-ORG-MODULE2">Producer 2</th> 
                    <td class="secure">Secure</td> 
                    <td class="passed">Pass</td> 
                    <td class="notimpl">Not Impl</td>
                    <td class="passed">Pass</td> 
				</tr>
                <tr>
                    <th id="producer-impl-ORG-MODULE3">Producer 3</th> 
                    <td class="passed">Pass</td> 
                    <td class="notimpl">Not Impl</td>
                    <td class="secure">Secure</td> 
                    <td class="passed">Pass</td> 
				</tr>
-->
  </tbody>
</table>
