<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Web of Things (WoT) Thing Description 1.1: Implementation Report</title>
    <link rel="stylesheet" type="text/css" href="https://www.w3.org/StyleSheets/general.css"/>
    <style type="text/css" xml:space="preserve">
/*<![CDATA[*/
body {
  margin: 2rem;
}
code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  margin: 0;
  padding: .2em .4em;
}
h2 { font-size: 150% }
h3 { font-size: 120%; font-weight: bold }
h4 { font-size: 110%; font-weight: bold}
.tocline { list-style: none; }

table {
  margin: auto;
  width: 100%;
  background-color: rgb(180,180,180);
  border: black;
  border-width: 1px;
}
th { background-color: rgb(180,255,180); }
th.rotate {
  /* adjust as necessary... */
  height: 180px;
  white-space: nowrap;
}
th.rotate>div {
  transform: 
    /* translate(25px, 51px) 
        rotate(315deg);
    */
    rotate(90deg);
  width: 30px;
}
th.rotate>div>span {
  /* border-bottom: 1px solid #ccc;
  */
  padding: 5px 10px;
}
td.baseassertion { background-color: rgb(234,255,234); }
td.tabassertion { background-color: rgb(234,255,255); }
td.defassertion { background-color: rgb(255,255,234); }
td.extraassertion { background-color: rgb(200,200,255); }
td.atrisk {
  /* background-color: rgb(255,200,255) */
  background-color: yellow;
}

td.result {
  text-align: right;
  padding: 2px 4px 2px 4px;
}
td.failed { background-color: rgb(255,200,200); }
td.passed { background-color: rgb(128,255,128); }
td.secure { background-color: rgb(0,255,0); }
td.missing { background-color: rgb(255,100,100); }
.comment { color: green; font-style: italic; }
.remove { text-decoration: line-through; color: black; }
.new { color: red; }
.working { background-color: rgb(255,234,234); padding:0.2em; }
.fill-in { background-color: rgb(255,234,234); }

table.testlist {
  border: black;
  border-width: 1px;
}

table.grammars th, table.commands th, able.attrs th, table.testlist th {
  background-color: rgb(180,255,180);
  font-size: 10pt;
  vertical-align: top;
}
table.grammars td, table.commands td, table.attrs td, table.testlist td {
  /* background-color: rgb(234,255,234); */
  font-size: 10pt;
  vertical-align: top;
}

table.attrs {
  margin-top: 5px;
}

pre.example {
  font-family: "Courier New", monospace;
  white-space: pre;
  background-color: rgb(204,204,255);
  padding: 0.5em;
  border: none;
  border-width: 0;
  margin-left: 0;
  font-size: 100%;
  width: 100%;
}

.testimonial {
  font-style: italic;
  margin: 0 2rem 0 2rem;
}

.at-risk {
  background-color: yellow;
}
/*]]>*/
    </style>
  </head>
  <body>

<div class="head">
  <a href="http://www.w3.org/"><img src="https://www.w3.org/Icons/w3c_home" alt="W3C" width="72" height="48"></a>
  <h1 id="h_ir">
    Web of Things (WoT) Thing Description 1.1:<br/>
    Implementation Report
  </h1>
  <p>
    <b>Version</b>: {{LastModified}}
  </p>
  <p>
    <b>Editors</b>:<br>
    Michael McCool (Intel)<br>
    Ege Korkan (Siemens)<br>
    Fady Salama (Siemens / Technical University of Munich)
  </p>

  <p class="copyright">
    <a href="https://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a>
    ©
    2017-2023

    <a href="https://www.w3.org/">World Wide Web Consortium</a>.
    <abbr title="World Wide Web Consortium">W3C</abbr><sup>®</sup>
    <a href="https://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>,
    <a href="https://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a> and
    <a rel="license" href="https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document" title="W3C Software and Document Notice and License">permissive document license</a> rules apply.
  </p>

  <hr title="Separator for header">
</div>

<h2 id="h_toc"><a id="toc" name="toc">Table of Contents</a></h2>
<ul>
  <li class="tocline">1. <a href="#intro">Introduction</a>
  <ul>
    <li class="tocline">1.1 <a href="#objectives">Implementation Report objectives</a></li>
    <li class="tocline">1.2 <a href="#non_objectives">Implementation Report non-objectives</a></li>
  </ul>
  </li>
  <li class="tocline">2. <a href="#cr_work">Work during the Candidate Recommendation period</a></li>
  <li class="tocline">3. <a href="#participate">Participating in the Implementation Report</a></li>
  <li class="tocline">4. <a href="#pr_entrance_crit">Entrance criteria for the Proposed Recommendation phase</a></li>
  <li class="tocline">5. <a href="#report_reqs">Implementation Report requirements</a>
  <ul>
    <li class="tocline">5.1 <a href="#DetailedReqs">Detailed requirements</a></li>
    <li class="tocline">5.2 <a href="#NotesOnTesting">Notes on testing</a></li>
    <li class="tocline">5.3 <a href="#out_of_scope">Out of scope</a></li>
  </ul>
  </li>
  <li class="tocline">6. <a href="#test-systems">Systems</a></li>
  <ul id="systems-toc">
        <!--
    <li class="tocline">6.x <a href="#impl-ORG">ORG</a></li>
        -->
  </ul>
  <li class="tocline">7. <a href="#security">Security</a></li>
  <li class="tocline">8. <a href="#test_results">Test results</a>
    <ul>
      <li class="tocline">8.1 <a href="#automated_validation_results">Automated validation results</a></li>
      <li class="tocline">8.2 <a href="#manual_validation_results">Manual validation results</a></li>
<!--
      <li class="tocline">8.3 <a href="#test_interop">Interoperability results</a></li>
-->
      {{InteropTOC}}
  </ul>
  </li>
  <li class="tocline">
    <a href="#appendix">Appendix</a>
    <ul>
<!--
      <li class="tocline"><a href="#testspecB">Test specifications</a></li>
-->
      {{TestSpecTOC}}
      <li class="tocline"><a href="#ack">Acknowledgements</a></li>
    </ul>
  </li>
</ul>

<h2 id="h_intro"><a id="intro" name="intro">1. Introduction</a> </h2>
<p>
  The <a href="http://www.w3.org/TR/wot-thing-description11/">Web of Things (WoT) Thing Description 1.1</a>
  document was published as a
  <a href="https://www.w3.org/TR/2023/CR-wot-thing-description11-20230119/">Candidate Recommendation Snapshot</a> 
  on 19 January 2023 and a
  <a href="https://www.w3.org/TR/2023/PR-wot-thing-description11-20230711/">Proposed Recommendation</a> 
  on 11 July 2023.
</p>
<p>
  This document summarizes the results from the Web of Things (WoT) Thing Description 1.1 implementer reports received and
  describes the process that the Web of Things (WoT) Working Group followed in preparing this <em>Implementation Report (IR)</em>.
</p>

<h4 id="h_objectives"><a id="objectives" name="objectives">1.1 Implementation Report objectives</a></h4>
<ul>
	<li>Must verify that the specification is implementable.</li>
</ul>

<h4 id="h_non_objectives"><a id="non_objectives" name="non_objectives">1.2 Implementation Report non-objectives</a></h4>
<ul>
	<li>The IR does not attempt full conformance testing of implementations.</li>
</ul>
<p>
  Although results were generated with a combination of automated and manual tests,
  the automated tests were only meant to provide assistance to implementers in preparing their individual implementation
  test reports.
</p>

<h2 id="h_cr_work"><a id="cr_work" name="cr_work">2. Work done during the Candidate Recommendation period</a></h2>
<p>
  During the CR period, the Working Group performed the following activities:
</p>
<ol>
  <li>Clarification and improvement of the exposition of the specification</li>
  <li>Disposing of comments that were communicated to the WG during the CR period.
        These comments and their resolution are detailed in the
        <a href="https://github.com/w3c/wot-thing-description/issues">GitHub Issue tracker</a>.
<!--
        with the label <a href="https://github.com/w3c/wot-thing-description/issues?q=label%3A%22CR+period%22">CR&nbsp;period</a>.
-->
  </li>
  <li>Gathering of additional test inputs and resolution of any at-risk assertions.</li>
  <li>Preparation of this Implementation Report.</li>
</ol>

<h2 id="h_participate"><a id="participate" name="participate">3. Participating in the Implementation Report</a></h2>
<p>
  Implementers were invited to contribute to the assessment of the
  <a href="https://www.w3.org/TR/2023/CR-wot-thing-description-20230119/">Web of Things (WoT) Thing Description 1.1 Candidate Recommendation</a>
  by submitting implementer reports describing the
  coverage of their implementations with respect to the test assertions outlined
  in the tables below.
</p>
<p>
  Implementer reports were collected through the W3C WoT Interest Group's
  <a href="https://www.w3.org/2016/07/wot-ig-charter.html#scope">PlugFest</a> activity and collected
  in the GitHub repository
  <a href="https://github.com/w3c/wot-testing/tree/master/data/input_2022/TD/">https://github.com/w3c/wot-testing</a>
  under <code>data/input_2022/TD</code>.
</p>
<p>
  Comments on this document, or requests made for
  further information were posted to the Working Group's public
  mailing list <a href="mailto:public-wot-wg@w3.org">wot-wg@w3.org</a>
  (<a href="http://lists.w3.org/Archives/Public/public-wot-wg/">archive</a>)
  and as issues on the GitHub repository
  <a href="https://github.com/w3c/wot-thing-description/issues">https://github.com/w3c/wot-thing-description</a>.
</p>

<h2 id="h_pr_entrance_crit"><a id="pr_entrance_crit" name="pr_entrance_crit">4. Entrance criteria for the Proposed Recommendation phase</a></h2>
<p>
  The Web of Things (WoT) Working Group established the following
  entrance criteria for the Proposed Recommendation phase:
</p>
<ol>
  <li>
    Sufficient reports of implementation experience have been
    gathered to demonstrate that Things can be described by Thing Descriptions
    in sufficient detail to allow interoperabilty, and that
    the WoT Thing Description 1.1 data model and processing have been
    described in sufficient detail to allow interoperabilty.
  </li>
  <li>
    Specific Implementation Report requirements (<a href="#report_reqs">outlined below</a>) have been met.
  </li>
  <li>
    The Working Group has formally addressed and responded to all
    public comments received by the Working Group.
  </li>
</ol>
<p>
In order to be included in the PR all features, whether optional or required, 
needed to have received at least two implementations. 
At the time of publication of this report 
all assertions have met this requirement.
</p>

<h2 id="h_report_reqs"><a id="report_reqs" name="report_reqs">5. Implementation Report requirements</a></h2>

<h4 id="h_DetailedReqs"><a id="DetailedReqs" name="DetailedReqs">5.1 Detailed requirements</a></h4>
<ol>
<!--
	<li>
    Testimonials from implementers are included in the IR when
    provided to document the utility and implementability of the
    specification.
  </li>
-->
	<li>
    The IR must cover all specified features in the specification. For
    each feature the IR should indicate:
    <ul>
	     <li>Feature status: required, optional, other.</li>
	     <li>Feature utility/usefulness based on feedback from implementers.</li>
	     <li>Implementability of the feature specification.</li>
    </ul>
  </li>
</ol>
<p>
  Feature status is in practice indicated by
  <a href="https://datatracker.ietf.org/doc/html/rfc2119">RFC&nbsp;2119</a> assertions
  associated with the feature.  Features defined using any assertions
  containing the words MUST are considered required.
  Features defined using MAY and SHOULD assertions are considered optional.
</p>
<p>
  Feature utility is indicated indirectly by the number of implementations
  supporting each feature.  In general, features with fewer implementations will
  have a narrower scope, but may still be important for specific use cases.
</p>

<h4 id="h_NotesOnTesting"><a id="NotesOnTesting" name="NotesOnTesting">5.2 Notes on testing</a></h4>
<ol>
  <li>
    An implementer report must indicate the outcome of evaluating 
    the implementation with respect to each of the assertions defined in the specification.
    Possible outcomes are <code>pass</code>, <code>fail</code>, or <code>not-impl</code> (not implemented).
  </li>
  <li>
    In practice, implementer reports consist of CSV files for each implementation with the above
    status assigned to each assertion in the specification.  This report was
    then automatically generated from these input files. 
  </li>
</ol>

<h4 id="h_out_of_scope"><a id="out_of_scope" name="out_of_scope">5.3 Out of scope</a></h4>
<p>This implementation Report will not cover:</p>
<ul>
  <li>Conformance testing results</li>
  <li>Interoperability testing results</li>
  <li>All possible combinations of features</li>
</ul>
<p>
Although we did not formally test interoperability, we required two or more
independent implementations for all features in the specification
and tested general
interoperability at <a href="https://github.com/w3c/wot-testing/tree/main/events">plugfest events</a>.
</p>

<h2 id="h_systems"><a id="test-systems" name="test-systems">6. Systems</a></h2>
<p>
  This section contains descriptions of each of the implementations
  of the WoT Thing Description 1.1 specification
  from all organizations that submitted implementer reports.
  Each implementation represents a working system
  that either exposes (provides) a WoT Thing Description, consumes WoT Thing Descriptions,
  or both.
  Implementations that expose a network interface
  described by a Thing Description will be referred to as "servers".
  Implementations that consume Thing Descriptions
  will be referred to as "clients".
  Note that these terms will be used with these specific definitions 
  in the following regardless of which device initiates
  network requests.  Normally the client initiates requests and the
  server responds.  However, in some protocols or sub-protocols that
  support push notifications (such as webhooks or MQTT) the usual
  relationship of initiator/responder may be reversed.
  In some cases a given implementation may be used for multiple Things
  and a single Thing may also act as both client and server on
  multiple interfaces.
</p>
<p>
  We only count systems with mostly independent code bases
  as distinct implementations.
  There are however some cases (documented in the following) where
  implementations shared components but were still considered substantially
  independent implementations.  In cases where a substantial component
  was shared across implementations the features supported by that
  component were only counted once.  
  We did permit the same implementer to report on multiple different implementations
  as long as the code bases were distinct.
  </p>
<p>
  All test results from the first version of this specification were
  reused to check for backward compatibility between this version
  and the older specification.  
  Please see the 
  <a href="https://w3c.github.io/wot-thing-description/testing/report.html">implementation report
  for the previous version of this specification</a> for additional
  implementation descriptions. 
</p>
<!--
<p>
Use of previous results does not imply support for the current specification from organizations submitting those results. In addition, some implementations are descriptive in nature and this does not imply support from the organizations or companies producing the described systems. Testimonials of support will be provided separately for this purpose in the final report.
</p>
-->

<div id="systems-impl">
  <!-- system implementation descriptions will be inserted here -->
</div>

<h2 id="h_security"><a id="security" name="security">7. Security</a></h2>
<p>
  The
  <a href="https://www.w3.org/TR/wot-thing-description11/">Web of Things (WoT) Thing Description 1.1</a>
  specification includes features to support security.
  Functional aspects of assertions associated with security features are validated
  in the same fashion as other functional features.
<!--
  In addition, however, the
  <a href="https://www.w3.org/2016/12/wot-wg-2016.html">Web of Things (WoT) WG Charter</a>
  requires the development of a test plan that includes adversarial testing.
  An appropriate security test plan, including a description
  of how existing web service penetration testing tools can be used,
  in addition to a description of more general security and privacy considerations,
  is included in
  <a href="http://www.w3.org/TR/wot-security">Web of Things (WoT) Security and Privacy Guidelines</a>.
-->
</p>

<h2 id="h_test_results"><a id="test_results" name="test_results">8. Test results</a></h2>
<p>
  The aim of this section is to summarize the assertions from the
  <a href="http://www.w3.org/TR/wot-thing-description11/">Web of Things (WoT) Thing Description 1.1</a>
  specification and summarize the results from the implementation
  reports received in the CR period.
  The tables in each section below lists all assertions derived from the
  <a href="http://www.w3.org/TR/wot-thing-description11/">Web of Things (WoT) Thing Description 1.1</a>
  specification.
  The results are broken into two parts: those for which automated testing has been implemented,
  and those for which it has not and manual testing and reporting was necessary.
</p>
<p>
  The headers for these tables are described as follows:
</p>
<ul>
  <li>
    The <b>ID</b> column uniquely identifies the assertion.
    and links to the assertion in the context of the specification.
  </li>
  <li>
    The <b>Category</b> column groups assertions by function.
  </li>
  <li>
    The <b>Req</b> column is a Y/N value indicating
    whether the assertion is for a feature which is required.
    Note however that the feature may only be required if another feature is
    also used or in a particular context, as indicated in
    the <b>Context</b> column.
  </li>
  <li>
    An entry in the <b>Context</b> column indicates that the "required" status of this feature depends on the use
    of other features.
    If the context is itself optional,
    then the value of <b>Req</b> actually indicates whether the feature is required
    if the indicated context exists.
  </li>
  <li>
    The <b>Assertion</b> column specifies the constraint which must be met.
    If the assertion is actually given in a tabular form in the
    specification, appropriate text is generated but this may not match the
    text in the specification itself.  
    The assertion may also refer to other information not in the text of the assertion.
    To fully understand the assertion please
    refer to the assertion in context in the specification using the provided
    hyperlink.
  </li>
  <li>
    The <b>Parent</b> column indicates another more general assertion that the
    particular assertion is a specialization of.
    A specialization indicates a more restrictive context or provides additional detail to facilitate testing.
    The more general assertion is only considered to have a "pass" status if all its 
    specializations in a given implementation have a "pass" status.
  </li>
  <li>
    The <b>Result</b> column is annotated with the number of
    <code>pass</code> (<b>P</b>),
    <code>fail</code> (<b>F</b>), and
    <code>not-impl</code> (<b>N</b>)
    status results in the individual implementer reports.
  </li>
  <li>
    The <b>T</b> column indicates the total number of implementations (or implementation components in the case
    of shared components) reporting a status (of any kind) on each assertion.
    The totals do not sum to a consistent value since not all implementations have provided information on all
    assertions.
    In particular if an implementation is a client/consumer it may not 
    provide information on features that relate to servers/exposers, and vice-versa.
  </li>
</ul>
<p>
  In the case of assertions with multiple mutually exclusive options (for example, enumerated values)
  each of these options may be tested separately and the results combined.
  In this case the 'pass' and 'total' values reported are the minimum value of any of the more detailed tests,
  while the 'fail' and 'not implemented' values report the maximum value of any of these tests.
  Since minimum and maximum value may be drawn from different detailed tests, the
  sum of the 'pass', 'fail', and 'not implemented' cases may not equal the 'total'.
  Instead the total represents the number of implementations for which all options were tested.
  For such cases the "child" assertions have underscores in their names
  prior to each value tested and the table row is also rendered in a 
  different color.
  Note that child assertions do not appear in the exact form shown in this report in
  the specification itself, so please refer to the 
  parent assertion for context.
</p>
<!--
<p class="at-risk">
  Assertions which have been indicated as at-risk in the CR publication
  are indicated using yellow highlighting.  
  If these have insufficient implementation
  experience (fewer than two independent implementations)
  they may be removed from the final Recommendation.
</p>
-->

<h3 id="h_automated_validation_results"><a id="automated_validation_results" name="automated_validation_results">8.1 Automated Validation Results</a></h3>
<p>
  The following assertions have been validated by automated testing using the
  <a href="http://plugfest.thingweb.io/playground/">ThingWeb Playground</a>
  <a href="https://github.com/thingweb/thingweb-playground/">AssertionTester</a>.
</p>

<table id="testresults" class="testlist" summary="assertions and tests" cellspacing="1" cellpadding="2" width="100%">
  <thead>
    <tr>
      <th title="Unique identifier for assertion, and link to assertion in context of the specification.">ID</th>
      <th title="Functional groupings of assertions.">Category</th>
      <th title="Required.  Y if the assertion is mandatory, N if it is optional.">Req</th>
      <th title="Indicates if an assertion is only applicable in a specific context.">Context</th>
      <th title="Text of the assertion from the specification.">Assertion</th>
      <th title="For child assertion, which parent assertion they are included in.">Parent</th>
      <th colspan="4">Results</th>
    </tr>
    <tr>
      <th colspan="6"></th>
      <th title="Pass">P</th>
      <th title="Fail">F</th>
      <th title="Not Implemented">N</th>
      <th title="Total">T</th>
    </tr>
  </thead>
  <tbody>
<!--
    <tr>
      <th colspan="10">Section Title</th>
    </tr>
-->
  </tbody>
</table>

<h3 id="h_manual_validation_results"><a id="manual_validation_results" name="manual_validation_results">8.2 Manual validation results</a></h3>
<p>
  The following assertions have been manually validated by the implementers.
</p>
<table id="manualresults" class="testlist" summary="manual assertions" cellspacing="1" cellpadding="2" width="100%">
  <thead>
    <tr>
      <th title="Unique identifier for assertion, and link to assertion in context of the specification.">ID</th>
      <th title="Functional groupings of assertions.">Category</th>
      <th title="Required.  Y if the assertion is mandatory, N if it is optional.">Req</th>
      <th title="Indicates if an assertion is only applicable in a specific context.">Context</th>
      <th title="Text of the assertion from the specification.">Assertion</th>
      <th title="For child assertion, which parent assertion they are included in.">Parent</th>
      <th colspan="4">Results</th>
    </tr>
    <tr>
      <th colspan="6"></th>
      <th title="Pass">P</th>
      <th title="Fail">F</th>
      <th title="Not Implemented">N</th>
      <th title="Total">T</th>
    </tr>
  </thead>
  <tbody>
<!--
    <tr>
      <th colspan="10">Section Title</th>
    </tr>
-->
  </tbody>
</table>

{{Interop}}

<h1 id="h_appendix"><a id="appendix" name="appendix">Appendix</a></h1>

<!-- automatically extracted assertion list and test specs will go here -->
{{TestSpec}}
		
<h2 id="h_ack"><a id="ack" name="ack">Acknowledgements</a></h2>
<p>
The Web of Things Working Group would like to acknowledge the contributions to 
the making of this document from the following individuals in various capacities,
including contributions to past testing inputs which were used for compatibility testing:</p>
<ul>
<li>Cristiano Aguzzi (Invited Expert)</li>
<li>Luca Barbato (Luminem)</li>
<li>Philipp Blum (Invited Expert)</li>
<li>Victor Charpenay (Siemens)</li>
<li>Andrea Cimmino (Universidad Politécnica de Madrid)</li>
<li>Hiroki Endo (NHK)</li>
<li>Ben Francis (Krellian and Mozilla)</li>
<li>Christian Glomb (Siemens)</li>
<li>Thomas Jaeckle (Bosch/Ditto)</li>
<li>Sebastian Kaebisch (Siemens)</li>
<li>Toru Kawaguchi (Panasonic)</li>
<li>Ege Korkan (Siemens and Technical University of Munich)</li>
<li>Michael Koster (SmartThings)</li>
<li>Matthias Kovatsch (Huawei)</li>
<li>Michael Lagally (Oracle)</li>
<li>Ryuichi Matsukura (Fujitsu)</li>
<li>Michael McCool (Intel)</li>
<li>Fabien Amarger  (Logilab)</li>
<li>Kevin Olotu (Bosch/Vorto)</li>
<li>Daniel Peintner(Siemens)</li>
<li>Cu Pham (ECHONET)</li>
<li>Dave Raggett (ERCIM)</li>
<li>Jan Romann (University of Bremen/RIoT)</li>
<li>Takeshi Sano (Fujitsu)</li>
<li>Fady Salama (Technical University of Munich)</li>
<li>Takahisa Suzuki (Fujitsu)</li>
<li>Marcus Wolf Schmidt (Technical University of Munich)</li>
<li>Farshid Tavakolizadeh (Fraunhofer-Gesellschaft)</li>
<li>Elodie Thieblin (Siemens and Logilab)</li>
<li>Kunihiko Toumura (Hitachi)</li>
<li>Takeshi Yamada (Panasonic)</li>
</ul>
<div class="navbar">
  <hr/>
</div>

</body>
</html>
